
*{
  box-sizing: border-box;
  background-color: #FEFFBB;
  font-family: "Monaco",monospace;
  }


h1{
  position: relative;
  text-align: center;
  padding-bottom:50px;
}

.content {
  border: 2px solid Black;
  margin: 15px;
  height: auto;
  padding: 5px;
  background-color: #DEDEDE;
  }

.topic1, .topic2, .topic3{
  border: 1px solid Black;
  height: 20px;
  width: 25%;
  position: relative;
  left:75%;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}
.topic1{
  background-color: #FF9E89;
}

.topic2{
  background-color: #FF4D00;
}

.topic3{
  background-color: #FFD519;
}
.row{
    width: 100%;
    }

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }

}


@media (min-width : 768px) and (max-width : 991px)
{
.col-md-6 {
    float: left;
    width: 50%;
  }
.col-md-12 {
    float: left;
    width: 100%;
}

.topic-md{
  width: 12.5%;
  left:87.5%;
}
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 90%;
  }
  .topic-sm{
  width: 12.5%;
  left:87.5%;
}

}





