
*{
  box-sizing: border-box;
  background-color: #FEFFBB;
  font-family: "Lucida Handwriting",cursive;
  }


h1{
  position: relative;
  text-align: center;
  padding-bottom:50px;
}

.content1, .content2, .content3 {
  border: 2px solid Black;
  margin: 15px;
  height: auto;
  padding: 5px;
  background-color: #DEDEDE;
  }

.topic1, .topic2, .topic3{
  border: 1px solid Black;
  height: 24px;
  width: 25%;
  position: relative;
  left:75%;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 3px 3px;
  opacity: 0.8;
  margin-bottom: 5px;
}

.content1{
  background-color: #FF9933;
}

.content2{
  background-color: #FFFFFF;
}

.content3{
  background-color: #138808;
}
.row{
    width: 100%;
    }

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }

}


@media (min-width : 768px) and (max-width : 991px)
{
.col-md-6 {
    float: left;
    width: 50%;
  }
.col-md-12 {
    float: left;
    width: 100%;
}

.topic-md{
  width: 12.5%;
  left:87.5%;
}
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 90%;
  }
  .topic-sm{
  width: 12.5%;
  left:87.5%;
}

}





